body{
    font-family: 'Merriweather', serif;
    min-height: 400px;
    background-image: url("https://media.gettyimages.com/videos/gold-wrapped-chocolate-coin-falling-on-black-background-video-id1206804203?s=640x640");
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
    margin-top: 50px;
    color: #000;
}
  
.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}
  
.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}
  
.page-logo {
    width: 200px;
}
  
input{
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
}
  
label {
    color: white;
}
  
button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
}
  
h2 {
    color: #ffffff;
    font-size: 30px;
}